@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.map-page {
    width: auto;
    display: flex;
    margin: auto;
    background-color: #e2e2e282;
}

.sidebar-menu {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 200px;
    height: 720px;
    margin-left: 25px;
    border: 1px solid;
    border-radius: 30px;
    background-color: #000000c7;
}

.sidebar-content h4 {
    color:  aliceblue;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sidebar-content .title {
    margin-left: 0px;
    color: yellow;
    font-size: 24px;
}

.sidebar-content ul li {
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 8px;
    height: 30px;
    width: 140px;
    list-style: none;
}

.sidebar-menu a {
    text-decoration: none;
    color:  #ffffffd1;
}

.sidebar-menu span {
    font-size: 14px;
    margin-left: 5px;
}

.sidebar-content li:hover {
    background-color: #000000c7;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-content li:hover a {
    color: yellow;
}
